.flex-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}













main {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .modal{

    display: none;
    flex-direction: column;

    position: fixed;

    width: 100%;
    height: 100%;

    .closeModal{
      align-self: flex-end;
      cursor: pointer;
      font-size: 38px;
    }

    .modal-container{
      background-color: rgb(226, 226, 226);
      display: flex;
      align-items: center;
      align-self: center;
      justify-self: center;
      width: 50%;
      flex-direction: column;
    }

    &:active{
      display: block;
    }
  }

  .brightness{
    filter: brightness(2);
  }

  .tricolore {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      padding: 50px;
      width: 1px;
      border-radius: 20rem;
      border: 1px solid black;
    }

    #rouge {
      background-color: rgb(192, 2, 2);
    }

    #orange {
      background-color: orange;
    }

    #vert {
      background-color: green;
    }
  }

  section {
    width: 500px;
    padding: 10px;
  }

  .playlist {
    background-color: rgba(115, 187, 255, 0.637);
    border-radius: 1rem;
    display: flex;
    align-self: center;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .chatbot {
    background-color: bisque;

    .userArea {
      display: flex;
      flex-direction: column;
    }

    .chatbotArea {
      margin-top: 5rem;

      #title {
        text-transform: capitalize;
        text-decoration: underline;
        font-weight: bolder;
      }

      .responseArea {
        padding-top: 5px;
        padding-left: 10px;
        height: 70px;
        background-color: rgb(255, 175, 76);
      }
    }
  }

  .exo3 {
    background-color: rgb(198, 235, 143);

    #rep-container {
      background-color: rgb(173, 231, 86);
      display: flex;
      padding: 3px;
      gap: 5px;
      flex-wrap: wrap;
    }
  }

  .random-game {
    background-color: rgb(218, 218, 218);

    .rg-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 3px;
      background-color: rgb(189, 189, 189);
    }
  }
}
